<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    #header-text{
      font-size: 1rem;
      color:pink;
    }
  </style>
  <body>
    <h1 id="header-text">
      Hello World
    </h1>
    <h2>
      <%= name %>
    </h2>
    <form action="/logout?_method=DELETE"  method="POST">
        <button type="submit"> Log Out</button>
    </form>
  </body>
</html>
